<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YelpHungryApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>840B3C591E4E8736001B80F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840B3C6D1E4E8736001B80F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840B3C781E4E8736001B80F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
